@import "./lib/common";

.cus-service {
  img {
    width: 44px;
    height: 40px;
    vertical-align: middle;
  }
}

.tel {
  img {
    width: 39px;
    height: 40px;
    vertical-align: middle;
    margin-left: 30px;
  }
}

.msg {
  img {
    width: 40px;
    height: 38px;
    vertical-align: middle;
    margin-left: 30px;
  }
}

.am-navbar.bar-customize {
  width: 100%;
  height: $nav-bar-height;
  line-height: 1;
  background-color: $theme-color;
  .am-navbar-left{
    padding-left: 0;
  }
  .am-navbar-title{
    @include font-size(17px)
  }
  .am-navbar-right{
    margin-right: $padding;
  }
}



.app-container{
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .wrapper {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .wrapper-inner {
      height: calc(100% + 1px);
    }
  }
}
