@import "./lib/common";

.download {
  padding-left: $padding;

  img {
    width: 32px;
    height: 35px;
    vertical-align: middle;
  }

  label {
    @include font-size(17px);
    color: #fff;
    margin-left: 10px;
  }
}

